@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

$font-family:"DM Sans", sans-serif;
$bg-color : #1B1D1F;
$bg-color2: #111315;
$grey: #6F757C;
$green: #BEE3CC;
$white: #FEF7EE;
$yellow: #F6C768;
$orange: #ED735D;